{% load static %}
  <!-- Navbar -->
  <div class="container position-sticky z-index-sticky top-0"><div class="row"><div class="col-12">
    <nav class="navbar navbar-expand-lg  blur blur-rounded top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
      <div class="container-fluid px-0">
        <a class="navbar-brand font-weight-bolder ms-sm-3" href="/ind" rel="tooltip" title="Designed and Coded by Abanoub" data-placement="bottom" target="_blank">
          Best Payment App
        </a>
        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon mt-2">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </span>
        </button>
        <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
          <ul class="navbar-nav navbar-nav-hover ms-lg-12 ps-lg-5 w-100">
            <li class="nav-item dropdown dropdown-hover mx-2">
              <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" href="javascript:;" id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
                Wallets
                <img src="{% static 'soft/assets/img/down-arrow-dark.svg' %}" alt="down-arrow" class="arrow ms-1">
              </a>
              <div class="dropdown-menu dropdown-menu-animation dropdown-md p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuPages">
                <div class="d-none d-lg-block">
      <div class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center px-0">
        <div class="d-inline-block">
          <div class="icon icon-shape icon-xs border-radius-md bg-gradient-primary text-center me-2 d-flex align-items-center justify-content-center">
            
          </div>
        </div>
        All Wallets
      </div>
      {% for a_wallet in wallets %}
      <a href="javascript:void(0)" class="dropdown-item border-radius-md" onclick="retrive_wallet(`{{a_wallet.ewallet_rapyd_id}}`, `My Wallet {{ forloop.counter }} `)" >
        <span class="ps-3">My Wallet {{ forloop.counter }} {{a_wallet.accounts.0.currency}}</span>
      </a>
      {% endfor %}
      

    </div>

    <div class="row d-lg-none">
      <div class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center px-0">
        <div class="d-inline-block">
          <div class="icon icon-shape icon-xs border-radius-md bg-gradient-primary text-center me-2 d-flex align-items-center justify-content-center">
            
          </div>
        </div>
        All Wallets
      </div>
      {% for a_wallet in wallets %}
      <a href="javascript:void(0)" class="dropdown-item border-radius-md" onclick="retrive_wallet(`{{a_wallet.ewallet_rapyd_id}}`, `My Wallet {{ forloop.counter }} `)" >
        <span class="ps-3">My Wallet {{ forloop.counter }} {{a_wallet.accounts.0.currency}}</span>
      </a>
      {% endfor %}
      

    </div>
    
            </li>
  <!--  --------------------------------------- -->
    
            <li class="nav-item dropdown dropdown-hover mx-2">
              <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" href="javascript:;" id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false">
                Virtual Bank Accounts
                <img src="{% static 'soft/assets/img/down-arrow-dark.svg' %}" alt="down-arrow" class="arrow ms-1">
              </a>
              <div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg" aria-labelledby="dropdownMenuDocs">
                <div class="d-none d-lg-block">
      <ul class="list-group">
        {% for vbank_account in vbank_accounts %}
        <li class="nav-item list-group-item border-0 p-0">
          <a class="dropdown-item py-2 ps-3 border-radius-md" href="javascript:void(0)" onclick="retrive_vbank(`{{vbank_account.rapyd_id}}`, `{{vbank_account.beneficiary_name}}`)"  >
            <div class="d-flex">
              <div class="icon h-10 me-3 d-flex mt-1">
               
              </div>
              <div>
                <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">{{vbank_account.beneficiary_name}}<h6></h6>
                <span class="text-sm"> Country: {{vbank_account.country_iso}} </span> <span class="text-sm align-right"> Currency: {{vbank_account.currency}}</span>
              </div>
            </div>
          </a>
        </li>
        {% endfor %}

      </ul>
    </div>
    
    <div class="row d-lg-none">
      <div class="col-md-12 g-0">
         {% for vbank_account in vbank_accounts %}
        
          <a class="dropdown-item py-2 ps-3 border-radius-md" href="javascript:void(0)" onclick="retrive_vbank(`{{vbank_account.ewallet_rapyd_id}}`, `{{vbank_account.beneficiary_name}}`)">
            <div class="d-flex">
              <div class="icon h-10 me-3 d-flex mt-1">
               
              </div>
              <div>
                <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">{{vbank_account.beneficiary_name}}<h6></h6>
                <span class="text-sm"> Country: {{vbank_account.country_iso}}   Currency: {{vbank_account.currency}}</span>
              </div>
            </div>
          </a>
        
        {% endfor %}
      </div>
    </div>
    
              </div>
            </li>
            <li class="nav-item ms-lg-auto">
              <a class="nav-link nav-link-icon me-2" href="#" target="_blank">
                <i class="fa fa-github me-1"></i>
                <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Star us on Github">Github</p>
              </a>
            </li>
            <li class="nav-item my-auto ms-3 ms-lg-0">
              <div class="dropdown">
              <a href="#" style="font-size: 12pt;" class="btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1 mt-2 mt-md-0 dropdown-toggle " data-bs-toggle="dropdown" id="navbarDropdownMenuLink2"><i style="font-size:12pt;" class="ni ni-circle-08"></i>

                {{account.first_name}}</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                  <li>
                      <a class="dropdown-item" href="#">
                        <!--img src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/icons/flags/DE.png" /--> My Profile
                      </a>
                  </li>
                  <li>
                      <a class="dropdown-item" href="/ind/logout">
                        <!--img src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/icons/flags/GB.png" /--> Logout
                      </a>
                  </li>

              </ul>
              </div>
              
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    </div></div></div>
    

 