{% extends 'soft/base.html' %}

{% block content %}

{% include 'soft/navbar.html' %}

{% load static %}
<header class="header-2 ">
  <div class="page-header min-vh-75 relative" style="background-image: url({% static '/soft/assets/img/curved-images/curved.jpg' %})">
    <div class="container ">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <h1 class="text-white pt-3 mt-n5">Hi {{account.first_name}} {{account.last_name}} </h1>
          <p class="lead text-white mt-3">Here you can <br/> Maintain your account </p>
        </div>
      </div>
    </div>

    <div class="position-absolute w-100 z-index-1 bottom-0">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
        </g>
      </svg>
    </div>
  </div>
</header>



<section class="pt-3 pb-4  " id="count-stats">
      
  <div class="container ">
    <div class="row "  id="main_card">
<div class="col-md-6 z-index-2  mt-n10 mx-auto py-3 ">
  
  <div class="card m-4  border-radius-xl   blur shadow-blur" >
    <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
      
    </div>
  
    <div class="card-body pt-2">
      <a href="javascript:;" class="card-title h5 d-block text-darker">
        Balance
      </a>
      <h2  class="card-description mb-4" style="white-space: nowrap;" >
        {{balances.0.balance}} {{balances.0.currency}} 
        <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">Available</span>
      </h2>

      <div class=" align-items-center mx-4">
        <div class="name ps-3">
          
          {% for balance in balances %}
          <div style="display: flex; align-items:flex-end;">
          <div class="flex">{{balance.currency}} </div> 
          <div class="dots"></div>
          <span class=" me-1 ">{{balance.balance}} {{balance.currency}} </span>
          </div>
          {% endfor %}
          
          <div class="stats">
            <small>For each, currency you will see different balance</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% load timestamp_to_time %}
<div class="col-md-6 z-index-2  mt-n10 mx-auto py-3 " >
  
  <div class="card m-4  border-radius-xl   blur shadow-blur" >
    <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
      
    </div>
  
    <div class="card-body pt-2">
      <a href="javascript:;" class="card-title h5 d-block text-darker">
        Transactions
      </a>
      <h2  class="card-description mb-4" style="white-space: nowrap;" >
        {{transactions.0.amount}} {{transactions.0.currency}} 
        <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">last received</span>
      </h2>

      <div class=" align-items-center mx-4">
        <div class="name ps-3">
          
          {% for transaction in transactions %}
          <div style="display: flex; align-items:flex-end;">
          <div class="flex">{{transaction.amount}} {{transaction.currency}}</div> 
          <div class="dots"></div>
          <span class="  ">{{ transaction.created_at|timestamp_to_time|date:"jS N, Y"  }} </span>
          </div>
          
          <small></small>
          <hr class="bg-primary border-2 border-top border-primary"></hr>
          {% endfor %}
          
          <div class="stats">
            <small>For each, currency you will see different balance</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</div>
</section>

<section>
  <div class="container ">
    <div class="row "  id="main_card">
      <button class="btn btn-icon btn-2 btn-primary" type="button" onclick="toggle_it()">
        <span class="btn-inner--icon"><i class="ni ni-bulb-61"></i></span>
        <span class="btn-inner--text"> Buy a ticket </span>
      </button>
    
    </div>
  </div>
</section>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Simulation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="bob_modal_body">
        
        
          <div class="form-group">
            <div class="row align-items-end">
              <div class="col ">
            <label for="country_list"> Select Country</label>
            <select required name="country_code" class="form-control" id="country_list2">
              <option value="" selected disabled hidden>Choose here</option>
              {% for country in countries %}
              <option value="{{country.iso_alpha2}}"  
              phone_code ="{{country.phone_code}}" 
              iso_alpha2="{{country.iso_alpha2}}"
              currency_code="{{country.currency_code}}"
              currency_name ="{{country.currency_name}}"
              currency_sign="{{country.currency_sign}}"
              country_name = "{{country.name}}">{{country.name}}</option>
              {% endfor %}
            </select>
            </div>
            <div class="col ">
            <!-- Button trigger modal -->
            <button type="button" class="btn bg-gradient-primary " onclick="get_vbank()"   >
              Get Virtual account
            </button>
            </div>
            <div id="loading2" style="display: none;">
              <img  src="https://i.ibb.co/S6PwspT/output-onlinegiftools.gif" width="100%" />
            </div>
            <div id="my_container">

            </div>
            
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
        <!--button type="button" class="btn bg-gradient-primary">Save changes</button-->
      </div>
    </div>
  </div>
</div>




{% endblock %}





{% block script %}
<script>
var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {})

function toggle_it() {
  var country_iso, country_name, city, flag_emoji, currency_code;
  // fetch('https://api.ipregistry.co/?key=tryout')
  //   .then(function (response) {
  //       return response.json();
  //   })
  //   .then(function (payload) {
  //       console.log(payload.location.country.name + ', ' + payload.location.city);
  //       country_iso = payload.location.country.code;
  //       country_name = payload.location.country.name;
  //       city = payload.location.city;
  //       flag_emoji = payload.location.country.flag.emoji;
  //       currency_code = payload.currency.code

  //       my_body = ` <p>You are in ${flag_emoji} ${country_name}, ${city}</p>
  //             <br>
  //             <p>And your currency is ${currency_code}</p> `;
  
  //       $("#bob_modal_body").html(my_body)


    // });


   
  myModal.toggle()

  
}


function get_vbank() {
  $('#my_container').html("")
  $("#loading2").css("display", "block");
  var optionSelected = $("option:selected", $('select#country_list2'));
  country_code = $(optionSelected).attr("iso_alpha2");
  phone_code = "+"+$(optionSelected).attr("phone_code");
  currency_code = $(optionSelected).attr("currency_code");
  country_name = $(optionSelected).attr("country_name");
  $("input#country_name").val(country_name);


  sent_data={
    'country_iso' : country_code,
    'country_name': country_name,
    'currency_code': currency_code,
    'ewallet_rapyd_id': "{{wallets.0.ewallet_rapyd_id}}"
  }
  console.log(sent_data)

  $.post( '/ind/test_vbank', sent_data , function(data) {
    // ... do something with response from server
    //alert(data)
    //$('body').html(data)
    console.log(data)
    var myJSON = JSON.stringify(data);
    $("#loading2").css("display", "none");
    $('#my_container').html(myJSON)


    //window.location="/ind"
  });

  
}



$('select#country_list2').on('change', function (e) {
  var optionSelected = $("option:selected", this);
  var valueSelected = this.value;
  //app2.phone_code = "+"+$(optionSelected).attr("phone_code");
  country_code = $(optionSelected).attr("iso_alpha2");
  country_name = $(optionSelected).attr("country_name");
  $("input#country_name").val(country_name)


  sent_data={
    'country_code' : country_code,
  }

  $.post( '/ind/list_capabilities', sent_data , function(data) {
    // ... do something with response from server
    //alert(data)
    //$('body').html(data)
    console.log(data)

    //window.location="/ind"
  });

  
    
});




</script>
{% endblock %}