{% extends 'soft/base.html' %}



{% block content %}

<section>
    <div class="page-header min-vh-100 " style="margin-block-start: 100px;">
      <div class="container">

        <div class="row">
          <div class="col-xl col-lg col-md d-flex flex-column mx-lg-0 mx-auto">
            <div class="card card-plain">
              <div class="card-header pb-0 text-left">
                <h4 class="font-weight-bolder">Sign Up</h4>
                <p class="mb-0">Enter your info to sign up</p>
              </div>
              <div class="card-body">
                <form role="form" id="my_app1">
                  
                  <div class="row">
                      <div class="mb-3 col-md-6">
                        <div class="form-group">
                        <input type="text" class="form-control form-control-lg" placeholder="First Name" aria-label="First" aria-describedby="first-addon">
                      </div>
                      </div>
                      <div class="mb-3 col-md-6">
                        <div class="form-group">
                        <input type="text" class="form-control form-control-lg" placeholder="Last Name" aria-label="Last" aria-describedby="last-addon">
                        </div>
                      </div>
                  </div>

                  <div class="mb-3">
                    <input type="email" class="form-control form-control-lg" placeholder="Email" aria-label="Email" aria-describedby="email-addon">
                  </div>
                  <div class="mb-3">
                    <input type="email" class="form-control form-control-lg" placeholder="Password" aria-label="Password" aria-describedby="password-addon">
                  </div>

                  <div class="row">
                    <div class="mb-3 col-md-6">
                      <div class="form-group">
                        <label for="exampleFormControlSelect1"> Select Account type</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>Business</option>
                          <option>Personal</option>
                        </select>
                      </div>
                    </div>
                    
                    <div class="mb-3 col-md-6">
                      <div class="form-group">
                        <label for="formSelect2"> Select Country</label>
                        <select class="form-control" id="formSelect2">
                          <option value="" selected disabled hidden>Choose here</option>
                          {% for country in countries %}
                          <option value="{{country.name}}"  
                          phone_code ="{{country.phone_code}}" 
                          iso_alpha2="{{country.iso_alpha2}}"
                          currency_code="{{country.currency_code}}"
                          currency_name ="{{country.currency_name}}"
                          currency_sign="{{country.currency_sign}}">{{country.name}}</option>
                          
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="mb-3">
                      <div class="form-group">
                        <div class="input-group mb-4">
                          <span class="input-group-text">+[[phone_code]]</span>
                          <input class="form-control" placeholder="Mobile number" type="text">
                        </div>
                    </div>
                    </div>

                </div>





                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rememberMe">
                    <label class="form-check-label" for="rememberMe">Remember me</label>
                  </div>
                  <div class="text-center">
                    <button type="button" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Sign Up</button>
                  </div>
                </form>
              </div>
              <div class="card-footer text-center pt-0 px-lg-2 px-1">
                <p class="mb-4 text-sm mx-auto">
                  have an account?
                  <a href="javascript:;" class="text-primary text-gradient font-weight-bold">Sign in</a>
                </p>
              </div>
            </div>
          </div>
          <!--div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
            <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center">
              <img src="../assets/img/shapes/pattern-lines.svg" alt="pattern-lines" class="position-absolute opacity-4 start-0">
              <div class="position-relative">
                <img class="max-width-500 w-100 position-relative z-index-2" src="../assets/img/illustrations/chat.png">
              </div>
              <h4 class="mt-5 text-white font-weight-bolder">"Attention is the new currency"</h4>
              <p class="text-white">The more effortless the writing looks, the more effort the writer actually put into the process.</p>
            </div-->
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}
