Django==4.0.6
django-crispy-forms==1.14.0
PyHamcrest==2.0.3
Twisted==22.4.0
asgiref==3.5.2
certifi==2022.6.15
cffi==1.15.1
chardet==5.0.0
constantly==15.1.0
cryptography==37.0.4
future==0.18.2
gunicorn==20.1.0
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
pyOpenSSL==22.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
python-bidi==0.4.2
pytz==2022.1
service-identity==21.1.0
six==1.16.0 
sqlparse==0.4.2 
txaio==22.2.1 
typing-extensions==4.3.0
urllib3==1.26.10
whitenoise==6.2.0
zope.interface==5.4.0